html {
    height: 100%;
}

body {
    background: #000;
    color: #fff;
    height: 100%;
}

#map {
    width: 80%;
    height: 80%;
    border: thin #333 solid;
}

.killwoundmarker {
    border: none;
    background: none;
}

#loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    padding: 1cm;
    z-index: 1500; /* Above leaflet */
}

#loader > h1, #loader > #footer {
    text-align: center;
}
